version: "3.8"

services:
  app:
    build: .
    depends_on:
      - mongo
      - redis
    environment:
      MONGO_URI: mongodb://mongo:27017
    expose:
      - "8000"

  mongo:
    image: mongo:6
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

volumes:
  mongo_data:
